{% extends 'base.html' %}

{% block content %}
<div class="starter-template">
  <h1>This is an edited starter template</h1>
  <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  {% for counter in counters %}
  <p>{{ counter.label }} Counter: {{ counter.count }}</p>
  {% endfor %}


  <div>
    <button id="web-button">"Web" Service</button>
    <button id="api-button">"Api" Service</button>
    <div id="response-div"></div>
  </div>
</div>
<script>
  document.addEventListener("click",(e) => {
    if (e.target.tagName !== "BUTTON") return;
    let url;
    if (e.target.id === "web-button") url = "{{web_domain}}";
    if (e.target.id === "api-button") url = "{{api_domain}}";
    url = "https://" +  url + "/json";
    fetch(url, {method: "GET", credentials: "include"}).then(res => res.json()).then(json => {
      document.getElementById("response-div").innerHTML = json;
    }).catch(console.error)
  })
</script>
{% endblock %}
